{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<section class="box post">
    <f:if condition="{post.media}">
        <f:for each="{post.media}" as="media" iteration="mediaIterator">
            <f:if condition="{mediaIterator.isFirst}">
                <blog:link.post post="{post}" class="image featured">
                    <img src="{f:uri.image(src:media.uid,treatIdAsReference:1)}" alt="">
                </blog:link.post>
            </f:if>
        </f:for>
    </f:if>
    <header>
        <h3 itemprop="name"><blog:link.post post="{post}" /></h3>
        <p class="entry-date">
            <time class="entry-date published" datetime="{f:format.date(format: '%Y-%m-%dT%H:%M:%S-%z', date: post.crdate)}" itemprop="datepublished">{f:format.date(format: '{settings.lists.posts.dateFormat}', date: post.crdate)}</time>
        </p>
    </header>

    <f:if condition="{post.abstract}">
        <f:then>
            <p itemprop="description">{post.abstract}</p>
        </f:then>
        <f:else>
            <p itemprop="description">{post.description}</p>
        </f:else>
    </f:if>

    <footer>
        <f:alias map="{commentCount: '<f:count subject=\'{post.activeComments}\' />'}">
            <ul class="actions">
                <li>
                    <blog:link.post post="{post}" class="button icon fa-file-text"> <f:translate key="button.continue_reading" default="Continue Reading" /></blog:link.post>
                </li>
                <li>
                    <span class="sep">·</span>
                    <meta itemprop="commentCount" content="{commentCount}" />
                    <span class="comments-link">
                    <blog:link.post post="{post}" section="comments" class="button alt icon fa-comment">
                    <f:if condition="{commentCount} == 1">
                        <f:then><f:translate key="message.comment" arguments="{0: commentCount}" /></f:then>
                        <f:else><f:translate key="message.comments" arguments="{0: commentCount}" /></f:else>
                    </f:if>
                    </blog:link.post>
                    </span>
                </li>
            </ul>
        </f:alias>
    </footer>
</section>
