{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="{authors}">
        <f:then>
            <f:comment>In case authors is set, to special author is in request and we show all authors as links.</f:comment>
            <f:for each="{authors}" as="author">
                <blog:link.author style="margin-bottom:4px;margin-right:4px;" class="button alt" author="{author}" /></li>
            </f:for>
        </f:then>
        <f:else>
            <f:comment>In case authors is NOT set, a special author is in request and we show all blogs posts of this author.</f:comment>
            <h1 class="page-title"><f:translate key="headline.author" arguments="{0: author.name}" /> <blog:link.author rss="true" author="{author}"><i class="fa fa-rss-square"></i></blog:link.author></h1>
            <div class="taxonomy-description">
                <p>{author.bio}</p>
            </div>
            <f:render partial="List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
