{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Default" />

<f:section name="content">
    <f:if condition="{tags}">
        <f:then>
            <f:comment>In case tags is set, to special tag is in request and we show all tags as links.</f:comment>
            <f:for each="{tags}" as="tag">
                <blog:link.tag style="margin-bottom:4px;margin-right:4px;" class="button alt" tag="{tag}" />
            </f:for>
        </f:then>
        <f:else>
            <f:comment>In case tags is NOT set, a special tag is in request and we show all blogs posts of this tag.</f:comment>
            <h1 class="page-title"><f:translate key="headline.tag" arguments="{0: tag.title}" /> <blog:link.tag rss="true" tag="{tag}"><i class="fa fa-rss-square"></i></blog:link.tag></h1>
            <div class="taxonomy-description">
                <p>{tag.description}</p>
                <f:if condition="{tag.content}">
                    <f:cObject typoscriptObjectPath="lib.blog.contentElementRendering">{tag.contentElementUidList}</f:cObject>
                </f:if>
            </div>

            <f:render partial="List" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>