
<f:be.container>
	<div class="typo3-fullDoc">
		<div id="typo3-docheader">
			<div class="typo3-docheader-functions">
				<div class="left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>

						<f:be.menus.actionMenuItem label="Demo Content Elements" action="contentElements" controller="Dopetrope" />
						<f:be.menus.actionMenuItem label="Live Demo" action="liveDemo" controller="Dopetrope" />
						
					</f:be.menus.actionMenu>
				</div>
			</div>
			<div class="typo3-docheader-buttons">
				<div class="left">

				</div>
				<div class="right">
					<f:be.buttons.shortcut />
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody tx-t3dce">
				<f:flashMessages />
				<f:render section="Main" />
			</div>
		</div>
	</div>
</f:be.container>
