<f:layout name="BeDefault" />

<f:section name="Main">

	<div class="module-body">

		<div class="container-fluid">

			<f:flashMessages />

			<h1>T3themes Dopetrope Theme for EXT:t3cms</h1>

			<div class="block-header">
			  <h2>See Live Demo by clicking this <f:link.action action="liveDemo" controller="Dopetrope"><strong>link</strong></f:link.action></h2>
			  <h2>Download <a href="/typo3conf/ext/t3themes_dopetrope/Initialisation/data.t3d" download><code>data.t3d</code></a> import file.</h2>
			</div>
			<!-- #END# Input -->

			<hr/>

			<br/>	
			<h1>Dopetrope - Content Elements</h1>

			<div class="panel panel-info h3">
				<div class="panel-heading">
					Check out the TER, if there is an extension called "t3content_dopetrope".
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">Banner</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/banner.gif" alt="Dopetrope Banner" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><section id="banner" style="background-image:url(https://html5up.net/uploads/demos/dopetrope/images/pic01.jpg);">
		<header>
			<h2>Howdy. This is Dopetrope.</h2>
			<p>Howdy. This is Dopetrope.Howdy. This is Dopetrope.</p>
		</header>
	</section></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Intro
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce1.gif" alt="/typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce1.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><!-- Intro --><section id="intro" style="background:#ffffff;">
		<div class="row">
			<div class="4u 12u(mobile)">
				<section class="first">
					<i class="icon featured fa-cog"></i>
					<header>
						<h2>Ipsum consequat</h2>
					</header>
					<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<section class="middle">
					<i class="icon featured alt fa-flash"></i>
					<header>
						<h2>Magna etiam dolor</h2>
					</header>
					<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
				</section>
			</div>
			<div class="4u 12u(mobile)">
				<section class="last">
					<i class="icon featured alt2 fa-star"></i>
					<header>
						<h2>Tempus adipiscing</h2>
					</header>
					<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>
				</section>
			</div>
		</div>
	</section></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Button Styles
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce2.gif" alt="/typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce2.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><ul class="actions">
		<li><a class="button big" href="#">Get Started</a></li>
		<li><a class="button alt big" href="#">Learn More 2</a></li>
	</ul></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Special Header
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce3.gif" alt="/typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce3.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><header class="major">
		<h2>My Portfolio</h2>
	</header></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Card Box
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce4.gif" alt="/typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce4.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><section class="box">
				<a href="#" class="image featured"><img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/pic05.jpg" alt="" /></a>
				<header>
					<h3>Blandit sed adipiscing</h3>
				</header>
				<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
				<footer>
					<a href="#" class="button alt">Find out more</a>
				</footer>
			</section></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="row">
				<div class="col-sm-6">
					<div class="panel panel-info">
						<div class="panel-heading">
							Blog Posts
						</div>
						<div class="panel-body">
							<img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce5.gif" alt="/typo3conf/ext/t3themes_dopetrope/Resources/Public/images/ContentElements/ce5.gif" class="img-responsive" />
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<textarea rows="10" name="" class="form-control" style="color:#02ff00;background:#212121;"><div class="row">
		<div class="6u 12u(mobile)">
			<section class="box">
				<a href="#" class="image featured"><img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/pic08.jpg" alt="" /></a>
				<header>
					<h3>Magna tempus consequat lorem</h3>
					<p>Posted 45 minutes ago</p>
				</header>
				<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
						<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
					</ul>
				</footer>
			</section>
		</div>
		<div class="6u 12u(mobile)">
			<section class="box">
				<a href="#" class="image featured"><img src="../typo3conf/ext/t3themes_dopetrope/Resources/Public/images/pic09.jpg" alt="" /></a>
				<header>
					<h3>Aptent veroeros et aliquam</h3>
					<p>Posted 45 minutes ago</p>
				</header>
				<p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
				<footer>
					<ul class="actions">
						<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
						<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
					</ul>
				</footer>
			</section>
		</div>
	</div></textarea>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<hr/>

</f:section>
