<!-- Do not touch this file -->
<f:layout name="BeDefault" />

<f:section name="Main">

	<iframe width="100%" height="800" style="" src="/typo3conf/ext/{extkey}/Resources/Public/"></iframe>

</f:section>
