{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}

<f:layout name="Widget" />

<f:section name="content">
	<header>
		<h3 class="widget-title"><f:translate key="headline.categories"/></h3>
	</header>
    <ul class="categories divided" style="margin-bottom:0;">
    <f:for each="{categories}" as="category">
        <li class="list-item category-item category-item-{category.uid}"><blog:link.category category="{category}" />&nbsp;<blog:link.category rss="true" category="{category}"><i class="fa fa-rss-square"></i></blog:link.category></li>
    </f:for>
    </ul>
</f:section>