{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />

<f:section name="content">
	<header>
	    <h3 class="widget-title"><f:translate key="headline.rssfeed"/></h3>
	</header>
	<ul class="feeds divided" style="margin-bottom:0;">
	    <li><f:link.action pageUid="{settings.blogUid}" pageType="200" format="rss" action="listRecentPosts" controller="Post">Recent posts</f:link.action></li>
	</ul>
</f:section>