{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}
<f:layout name="Widget" />

<f:section name="content">
	<header>
	    <h3 class="widget-title"><f:translate key="headline.recentposts"/></h3>
	</header>
    <ul class="list list-unstyled">
    <f:for each="{posts}" as="post">
        <li><blog:link.post post="{post}" /></li>
    </f:for>
    </ul>
</f:section>