{namespace blog=T3G\AgencyPack\Blog\ViewHelpers}

<f:layout name="Widget" />

<f:section name="content">
	<header>
	    <h3 class="widget-title"><f:translate key="headline.tags"/></h3>
	</header>
    <f:if condition="{tags}">
	    <div class="tags">
	    <f:for each="{tags}" as="tag" iteration="tagIterator">
	        <blog:link.tag tag="{tag.tagObject}" style="font-size: {tag.size}%" class="label label-default label-tag" />
	        <f:if condition="{tagIterator.isLast}">
	        	<f:then></f:then>
	        	<f:else>, </f:else>
	        </f:if>
	    </f:for>
	    </div>
    </f:if>
</f:section>