<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{mainnavigation}">
        <nav id="nav">
            <ul>
                <f:for each="{mainnavigation}" as="navitem">
                <f:if condition="{navitem.children}">
                    <f:then>
                        <f:render section="NavItemDropdown" arguments="{item:navitem}" />
                    </f:then>
                    <f:else>
                        <f:render section="NavItem" arguments="{item:navitem}" />
                    </f:else>
                </f:if>
                </f:for>
            </ul>
        </nav>
    </f:if>

    <f:section name="NavItem">
        <li style="white-space: nowrap;" class="{f:if(condition:item.active,then:'current')}">
            <a class="nav-link {f:if(condition:item.active,then:'active')}" href="{item.link}">{item.title}</a>
        </li>
    </f:section>

    <f:section name="NavItemDropdown">
        <li style="white-space: nowrap;" class="dropdown opener {f:if(condition:item.active,then:'current')}">
            <a class="{f:if(condition:item.active,then:'active')} dropdown-toggle" data-toggle="dropdown" href="{item.link}">{item.title} <span class="caret"></span></a>
            <ul style="user-select: none; display: none; position: absolute;">
                <f:for each="{item.children}" as="subpage">
                <f:if condition="{subpage.children}">
                    <f:then>
                        <f:render section="NavItemDropdown" arguments="{item:subpage}" />
                    </f:then>
                    <f:else>
                        <f:render section="NavItem" arguments="{item:subpage}" />
                    </f:else>
                </f:if>
                </f:for>
            </ul>
        </li>
    </f:section>

</html>
